input {
  height: 32px !important;
}

.cc-info td {
  vertical-align: middle;
}

.cc-info label {
  margin-bottom: 0px;
}

.tLeft {
  width: 20%;
}

.tRight {
  width: 30%;
}

fieldset {
  margin-bottom: 0px;
}

.information {
  border: 1px solid #eee !important;
}

.col-sm-6 {
  padding: 0px;
}
