label {
    margin-top: .5rem;
    margin-right: .5rem;
    width: 30%;
}

fieldset {
    width: 70%;
}

.mainDiv {
    display: flex;
    margin-bottom: 2rem;
}


.dashboard {
    width: 40%;
    margin: auto;
    
}

.subDashboard {
    width: 40%;
    float: right;
    margin-left: -13rem;
}