
<div class="animated fadeIn">
  <div class="card">
    <div class="card-header">
      Filters - ACSE Scores Dashboard
    </div>
    <div class="card-body">
      <div class="row">
        <div class="col-md-3">
          <label>From Date<sup style="color: red">*</sup></label>
          <input class="form-control" [(ngModel)]="date" id="date-input" type="date" name="date-input"
            placeholder="yyyy-mm-dd">
        </div>
      </div>
      <div style="display: flex;margin-top: 1rem ">
        <div class="header_left" style="display: block !important;">
          <div class="acceptbtns" style="float: left">
            <button (click)="load()">Load</button>
          </div>
          <div style="margin-left: 1rem;" class="acceptbtns">
            <button (click)="clear()">Clear</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="animated fadeIn" *ngIf="loading === true" style="margin: auto; margin-top: 10% !important;">
    <c-spinner size="sm"></c-spinner>
  </div>
  <div class="info_row" *ngIf="dataLoading === false">
    <div class="col-md-12" style="float: left; padding: 0px;">
      <div class="card" style="margin-top: 1rem !important; margin-bottom: 1rem !important;">
        <div class="card-header">
          <strong>MAC ACSE Scores Dashboard - {{this.preday}}</strong>
        </div>
        <div class="card-body" style="padding: 0px; overflow-x: auto">
          <table class="table table-bordered table-sm" style="margin: auto;border-block-color: #808080">
            <thead>

              <tr>
                <td rowspan="3" class="loc-tot">
                  Ship To
                </td>
                <td rowspan="3" class="loc-tot">
                  Location
                </td>
                <td colspan="12" class="loc-tot">
                  Mac ACSE Scores
                </td>
                <td rowspan="3" class="loc-tot">
                  Total SE Score
                </td>
              </tr>
              <tr>
                <td colspan="4" class="loc-tot">
                  REPTAT - <= 5Days </td>
                <td colspan="4" class="loc-tot">
                  PPR - <= 1.1 </td>
                <td colspan="4" class="loc-tot">
                  CCLR - <= 2% </td>
              </tr>
              <tr>
                <td class="loc-tot">Total Eligible REPTAT Repairs</td>
                <td class="loc-tot">Total Duration of Eligible Repairs</td>
                <td class="loc-tot">REPTAT Rate</td>
                <td class="loc-tot">Points</td>
                <td class="loc-tot">Total Eligible Parts Ordered</td>
                <td class="loc-tot">Total PPR Eligible Repairs</td>
                <td class="loc-tot">Parts PPR Repair Rating</td>
                <td class="loc-tot">Points</td>
                <td class="loc-tot">Repeated Serials</td>
                <td class="loc-tot">Looped Eligible Repairs</td>
                <td class="loc-tot">Cross Channel Looper Rate Rating</td>
                <td class="loc-tot">Points</td>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let macData of macAcseDatas">
                <td class="others">{{macData.shipTo}}</td>
                <td class="others">{{macData.branchName}}</td>
                <td><span style="margin-left: 0.5rem; "> {{macData.mac_reptat_repair}}</span></td>
                <td><span style="margin-left: 0.5rem; "> {{macData.mac_eligible_repair}}</span></td>
                <td *ngIf="macData.REPTAT_points == '50'"><span style="margin-left: 0.5rem; color : green;">
                    {{macData.REPTAT_Rate | number : '1.0-2'}}</span></td>
                <td *ngIf="macData.REPTAT_points < '50'"><span style="margin-left: 0.5rem; color : red ;">
                    {{macData.REPTAT_Rate | number : '1.0-2'}}</span></td>
                <td><span style="margin-left: 0.5rem; "> {{macData.REPTAT_points | number : '1.0-0'}}</span></td>
                <td><span style="margin-left: 0.5rem; "> {{macData.mac_repair_PPR}}</span></td>
                <td><span style="margin-left: 0.5rem; "> {{macData.mac_PPR_eligible_repair}}</span></td>
                <td *ngIf="macData.PPR_points == '25'"><span style="margin-left: 0.5rem; color : green;">
                    {{macData.PPR_rating | number : '1.0-2'}}</span></td>
                <td *ngIf="macData.PPR_points < '25'"><span style="margin-left: 0.5rem; color : red ;">
                    {{macData.PPR_rating | number : '1.0-2'}}</span></td>
                <td><span style="margin-left: 0.5rem; "> {{macData.PPR_points | number : '1.0-0'}}</span></td>
                <td><span style="margin-left: 0.5rem; "> {{macData.mac_repeated_serials}}</span></td>
                <td><span style="margin-left: 0.5rem; "> {{macData.mac_looped_repairs}}</span></td>
                <td *ngIf="macData.cclr_points == '25'"><span style="margin-left: 0.5rem; color : green;">
                    {{macData.cclr_rating | number : '1.0-2'}}</span></td>
                <td *ngIf="macData.cclr_points < '25'"><span style="margin-left: 0.5rem; color : red ;">
                    {{macData.cclr_rating | number : '1.0-2'}}</span></td>
                <td><span style="margin-left: 0.5rem; "> {{macData.cclr_points | number : '1.0-0'}}</span></td>
                <td><span style="margin-left: 0.5rem;"> {{macData.REPTAT_points+macData.PPR_points+macData.cclr_points |
                    number : '1.0-0'}}</span></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

  <div class="info_row" *ngIf="dataLoading === false">
    <div class="col-md-12" style="float: left; padding: 0px;">
      <div class="card" style="margin-top: 1rem !important; margin-bottom: 1rem !important;">
        <div class="card-header">
          <strong>iPhone ACSE Scores Dashboard - {{this.preday}}</strong>
        </div>
        <div class="card-body" style="padding: 0px; overflow-x: auto">
          <table class="table table-bordered table-sm" style="margin: auto;border-block-color: #808080">
            <thead>

              <tr>
                <td rowspan="3" class="loc-tot">
                  Ship To
                </td>
                <td rowspan="3" class="loc-tot">
                  Location
                </td>
                <td colspan="16" class="loc-tot">
                  iPhone ACSE Scores
                </td>
                <td rowspan="3" class="loc-tot">
                  Total SE Score
                </td>
              </tr>
              <tr>
                <td colspan="4" class="loc-tot">
                  REPTAT - <= 3Days </td>
                <td colspan="4" class="loc-tot">
                  SDR - >= 90%
                </td>
                <td colspan="4" class="loc-tot">
                  NTF - <= 8% </td>
                <td colspan="4" class="loc-tot">
                  SUR - >= 80%
                </td>
              </tr>
              <tr>
                <td class="loc-tot">Total Eligible REPTAT Repairs</td>
                <td class="loc-tot">Total Duration of Eligible Repairs</td>
                <td class="loc-tot">REPTAT Rate</td>
                <td class="loc-tot">Points</td>
                <td class="loc-tot">Total Eligible SDR Events</td>
                <td class="loc-tot">SDR</td>
                <td class="loc-tot">SDR Rating</td>
                <td class="loc-tot">Points</td>
                <td class="loc-tot">Total Eligible NTF Units</td>
                <td class="loc-tot">No Trouble Found</td>
                <td class="loc-tot">No Trouble Found Rating</td>
                <td class="loc-tot">Points</td>
                <td class="loc-tot">Total Eligible SUR Repairs</td>
                <td class="loc-tot">SUR Opportunity Taken</td>
                <td class="loc-tot">SUR Opportunity Rating</td>
                <td class="loc-tot">Points</td>
                <!-- <td class="loc-tot">Total SVR Percentage</td> -->
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let iphoneData of iphoneAcseDatas">
                <td class="others">{{iphoneData.shipTo}}</td>
                <td class="others">{{iphoneData.branchName}}</td>
                <td><span style="margin-left: 0.5rem; "> {{iphoneData.iphone_reptat_repair}}</span></td>
                <td><span style="margin-left: 0.5rem; "> {{iphoneData.iphone_eligible_repairs}}</span></td>
                <td *ngIf="iphoneData.reptat_points == '40'"><span style="margin-left: 0.5rem; color : green;">
                    {{iphoneData.reptat_rate | number : '1.0-2'}}</span></td>
                <td *ngIf="iphoneData.reptat_points < '40'"><span style="margin-left: 0.5rem; color : red ;">
                    {{iphoneData.reptat_rate | number : '1.0-2'}}</span></td>
                <td><span style="margin-left: 0.5rem; "> {{iphoneData.reptat_points | number : '1.0-0'}}</span></td>
                <td><span style="margin-left: 0.5rem; "> {{iphoneData.iphone_sdr_events}}</span></td>
                <td><span style="margin-left: 0.5rem; "> {{iphoneData.iphone_SDR}}</span></td>
                <td *ngIf="iphoneData.iphone_SDR_points == '10'"><span style="margin-left: 0.5rem; color : green;">
                    {{iphoneData.iphone_SDR_rate | number : '1.0-2'}}</span></td>
                <td *ngIf="iphoneData.iphone_SDR_points < '10'"><span style="margin-left: 0.5rem; color : red ;">
                    {{iphoneData.iphone_SDR_rate | number : '1.0-2'}}</span></td>
                <td><span style="margin-left: 0.5rem; "> {{iphoneData.iphone_SDR_points | number : '1.0-0'}}</span></td>
                <td><span style="margin-left: 0.5rem; "> {{iphoneData.iphone_NTF}}</span></td>
                <td><span style="margin-left: 0.5rem; "> {{iphoneData.iphone_no_trouble}}</span></td>
                <td *ngIf="iphoneData.iphone_ntf_points == '25'"><span style="margin-left: 0.5rem; color : green;">
                    {{iphoneData.iphone_ntf_rate | number : '1.0-2'}}</span></td>
                <td *ngIf="iphoneData.iphone_ntf_points < '25'"><span style="margin-left: 0.5rem; color : red ;">
                    {{iphoneData.iphone_ntf_rate | number : '1.0-2'}}</span></td>
                <td><span style="margin-left: 0.5rem; "> {{iphoneData.iphone_ntf_points | number : '1.0-0'}}</span></td>
                <td><span style="margin-left: 0.5rem; "> {{iphoneData.iphone_SUR_repairs}}</span></td>
                <td><span style="margin-left: 0.5rem; "> {{iphoneData.iphone_SUR_Opp}}</span></td>
                <td *ngIf="iphoneData.iphone_SUR_Opp_points == '25'"><span style="margin-left: 0.5rem; color : green;">
                    {{iphoneData.iphone_SUR_Opp_rate | number : '1.0-2'}}</span></td>
                <td *ngIf="iphoneData.iphone_SUR_Opp_points < '25'"><span style="margin-left: 0.5rem; color : red ;">
                    {{iphoneData.iphone_SUR_Opp_rate | number : '1.0-2'}}</span></td>
                <td><span style="margin-left: 0.5rem; "> {{iphoneData.iphone_SUR_Opp_points | number : '1.0-0'}}</span>
                </td>
                <td><span style="margin-left: 0.5rem; ">
                    {{iphoneData.reptat_points+iphoneData.iphone_SDR_points+iphoneData.iphone_ntf_points+iphoneData.iphone_SUR_Opp_points
                    | number : '1.0-0'}}</span></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
