<div class="animated fadeIn">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <i class="material-icons">format_quote</i> Customer Dis_Sat Details Upload
        </div>
        <div class="card-body">
          <div class="row" style="margin-top: 0.5rem;">
            <div class="header_left" style="display: grid;">
              <input [ngClass]="{'dcolor': dcolor, 'nocolor': !dcolor}" #fileInput type="file" name="file" class="form-control-file" id="exampleFormControlFile1" (change)="onFileUploadfun($event)">
            </div>
          </div>
          <div class="row" style="margin-top: 2rem; display:grid !important; text-align: center !important;">
            <div class="header_left"  style="display: table !important;" >
              <button class="btn btn-primary mr-1" type="submit" (click)="onSubmit()" *ngIf="buttonSpin === false">Submit</button>
              <div class="sk-three-bounce" style="margin: auto; margin-top: 1rem;" *ngIf="buttonSpin === true">
                <div class="spinner-grow spinner-grow-sm" role="status"></div>
              <div class="spinner-grow spinner-grow-sm" role="status"></div>
              <div class="spinner-grow spinner-grow-sm" role="status"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
