<div class="div1">
  <label >Select Report Type</label>
        <fieldset>
            <ng-select ng-multiple="false"
            class="bootstrap"
            placeholder="any"
            bindLabel="label"
            bindValue="value"
            [items]="reports"
            [multiple]="false"
            [(ngModel)]="reportType"
            (change)="onSelect($event.value)">
          </ng-select>
          </fieldset>
</div>
<div *ngIf="reportType == 'iPhone'">
  <app-bin-ageing-dashboard></app-bin-ageing-dashboard>
</div>
<div *ngIf="reportType == 'MAC'">
  <app-bin-ageing-dashboard></app-bin-ageing-dashboard>
</div>
<div *ngIf="reportType == 'DL'">
  <app-dl-bin-ageing></app-dl-bin-ageing>
</div>
<!-- <div *ngIf="reportType == 'D-Call'">
  <app-accessoryenquiryreport></app-accessoryenquiryreport>
</div>
<div *ngIf="reportType == 'PUD'">
  <app-accessoryenquiryreport></app-accessoryenquiryreport>
</div> -->
