thead {
  font-weight: bold;
  text-align: center;
  border: 1px solid lightgray;
  line-height: 2rem;
}

.childSelect {
  margin-bottom: 1rem !important;
  display: flex;
  margin: auto;
  width: 25%
}

p {
  width: 100%;
  text-align: center;
  margin-bottom: 0.5rem;
}
