<div class="animated fadeIn" *ngIf="loading === true" style="margin-top: 30%;">
  <c-spinner size="sm"></c-spinner>
</div>

<div class="animated fadeIn" *ngIf="loading === false">
    <!-- <div class="card" *ngIf="(userRole === '3') || (userRole === '2') || (userRole === '18')">
        <div class="card-header">
          Add Consignment
        </div>
        <div class="card-body">
            <table class="table table-bordered table-sm" style="margin-bottom: 0; border: 0px;">
                <tbody class="addNew">
                  <tr style="font-weight: normal; border: 0px;">
                    <td>
                      Stock Type<sup style="color: red;">*</sup>
                      <ng-select
                      class="bootstrap"
                      placeholder="Select Stock Type"
                      [options]="stockTypes"
                      [(ngModel)]="stockType"
                      [multiple]="false" (selected)="selectStock($event)"></ng-select>
                    </td>
                    <td>
                      Serial No<sup style="color: red;">*</sup>
                      <input [(ngModel)]="serialNo" class="information" style="border: 1px solid gray;" type="text" placeholder="Serial Number" [disabled]="isSerialised">
                    </td>
                    <td>
                      Part No<sup style="color: red;">*</sup>
                      <input [(ngModel)]="partNo" class="information" style="border: 1px solid gray;" type="text" placeholder="Part Number">
                    </td>
                    <td *ngIf="stockType === 'Ample'">
                      ERP ASN
                      <input [(ngModel)]="asnNo" class="information" style="border: 1px solid gray;" type="text" placeholder="Serial Number" [disabled]="isSerialised">
                    </td>
                  </tr>
                  <tr>
                    <td *ngIf="stockType === 'Apple'">
                      Delivery No<sup style="color: red;">*</sup>
                      <input [(ngModel)]="deliveryNo" class="information" style="border: 1px solid gray;" type="text" placeholder="Delivery Number" [disabled]="isApple">
                    </td>
                    <td *ngIf="stockType === 'Apple'">
                      Delivery Date<sup style="color: red;">*</sup>
                      <input type="text"
                      class="form-control"
                      #dp="bsDatepicker"
                      [bsConfig]="bsConfig"
                      bsDatepicker [(bsValue)]="bsValue">
                    </td>
                    <td *ngIf="stockType === 'Apple'">
                      Replishement Ticket Id
                      <input [(ngModel)]="replishementTicketId" class="information" style="border: 1px solid gray;" type="text" placeholder="Ticket Id">
                    </td>
                  </tr>
                </tbody>
              </table>
              <div style="display: flex;">
                <div class="header_left" style="width: 30%; display: flex;">
                  <button *ngIf="buttonSpin === false" style="margin-top: 0.5rem !important; width: 50%; margin: auto; display: table" class="btn btn-block btn-outline-primary" (click)="saveAcknowledge(simple_alert_temp)">Save</button>
                  <button *ngIf="buttonSpin === false" style="margin-top: 0.5rem !important; width: 50%; margin: auto; display: table; margin-left: 1rem;" class="btn btn-block btn-outline-primary" (click)="reset()">Reset</button>
                  <div class="sk-three-bounce" style="margin: auto; margin-top: 1rem;" *ngIf="buttonSpin === true">
                    <div class="sk-child sk-bounce1"></div>
                    <div class="sk-child sk-bounce2"></div>
                    <div class="sk-child sk-bounce3"></div>
                  </div>
                </div>
              </div>
            </div>
        </div> -->
<div style="display: flex; margin-bottom: 2rem; overflow: auto;">
  <div class="header_left" style="width: 100%; margin-top: 1rem ">
    <div class="col-md-12" *ngIf="conError !== ''" style="text-align: center; color: red">
      <i class="material-icons">info</i>&nbsp; {{conError}}
    </div>

    <div *ngIf="(userRole === '3') || (userRole === '2') || (userRole === '18')" style="text-align: center;">
      <p>Location - <b>{{branch}}</b></p>
    </div>

    <div class="header_right" style="width: 100%; padding: 0.5rem 0px 0.5rem auto;">
      <div class="actionbtns">
        <div style="display: flex;">
          <div style="margin-right: .5rem;">
            <select (change)="statusChange($event.target.value)">
              <option [value]="1" selected>Active</option>
              <option [value]="2">Blocked</option>
              <option [value]="3">Issued</option>
              <option [value]="4">All</option>
            </select>
          </div>

          <div class="serachInput" style="margin-right: .5rem;">
            <input type="search" class="form-control" placeholder="Search by Part No/Ticket Id"
              id="namesearch" [(ngModel)]="partSearch" (input)="searchPart($event)" style=" width:100%;">
          </div>

          <div class="listType" (click)="exportAsXLSX()"><a>Export</a></div>
        </div>
      </div>
    </div>

    <table class="table table-bordered table-striped table-sm" style="margin-bottom: 0">
      <thead>
        <tr style="text-align: center; font-weight: normal;">
          <th>ASN</th>
          <th>ERP ASN</th>
          <th>Stock Type</th>
          <th>Serial No</th>
          <th>Part No</th>
          <th>Description</th>
          <th>Blocked Ticket</th>
          <th>Issued Ticket</th>
          <th>Replenishment Ticket</th>
          <th>Delivery Date</th>
          <th>Status</th>
        </tr>
      </thead>
      <tbody>
        <tr class="grid-container" *ngFor="let item of paginatedConsignments"
            style="height: auto !important; text-align: center;">
          <td>{{item.asn_no}}</td>
          <td>{{item.erp_asn}}</td>
          <td>{{item.stock_type}}</td>
          <td>{{item.serial_no}}</td>
          <td>{{item.part_no}}</td>
          <td>{{item.description}}</td>
          <td>{{item.blocked_ticket_id}}</td>
          <td>{{item.issued_ticket_id}}</td>
          <td>{{item.replenishment_ticket_id}}</td>
          <td>{{item.delivery_date}}</td>
          <td>
            {{item.status}}
            <i class="material-icons" (click)="makeInactive(item.asn_no, confirm_inactive_temp)"
               *ngIf="((userRole === '3') || (userRole === '2')) && (item.status === 'Active')"
               style="font-size: 1.3rem;">visibility_off</i>
            <i class="material-icons" (click)="unblockASN(item.asn_no, confirm_alert_temp)"
               *ngIf="item.status === 'Blocked'"
               style="font-size: 1.3rem;">lock_open</i>
          </td>
        </tr>
      </tbody>
    </table>

     <!-- Pagination Controls -->
   <div style="margin-top: 1rem; text-align: center;">
      <button (click)="page = page - 1" [disabled]="page === 1">Previous</button>
      <button *ngFor="let p of pageNumbers.slice((pageGroup - 1) * 10, pageGroup * 10)"
              [disabled]="p === page"
              (click)="page = p">{{p}}</button>
      <button (click)="page = page + 1" [disabled]="page === totalPages">Next</button>
    </div>

      </div>
   </div>


<ng-template class="modal fade" #simple_alert_temp>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header" style="height: 55px;">
        <h4 class="modal-title" style="line-height: 1.2">{{simpleAlert.title}}</h4>
      </div>
      <div class="modal-body">
        <p>{{simpleAlert.msg}}</p>
      </div>
      <div class="modal-footer" style="height: 50px">
        <button type="button" class="btn btn-secondary" (click)="cancelModel()">Ok</button>
      </div>
    </div>
  </div>
</ng-template>

<ng-template class="modal fade" #confirm_alert_temp>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header" style="height: 55px;">
        <h4 class="modal-title" style="line-height: 1.2">Unblock ASN</h4>
      </div>
      <div class="modal-body">
        <p>Are you sure want to Unblock this ASN?</p>
      </div>
      <div class="modal-footer" style="height: 50px">
        <button type="button" class="btn btn-secondary" (click)="confirm()">Yes</button>
        <button type="button" class="btn btn-secondary" (click)="cancelModel()">No</button>
      </div>

    </div>
  </div>
</ng-template>
<ng-template class="modal fade" #confirm_inactive_temp>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header" style="height: 55px;">
        <h4 class="modal-title" style="line-height: 1.2">Inactive ASN</h4>
      </div>
      <div class="modal-body">
        <textarea [(ngModel)]="inactiveRemarks" placeholder="Enter the Remarks" class="information" rows="3" style="border: 1px solid lightgrey;"></textarea>
        <div *ngIf="remarksError !== ''" style="color: red; margin-bottom: 0.5rem;">
          <i class="material-icons" style="margin-top: 0 !important">info</i>&nbsp; {{remarksError}}
        </div>
      </div>
      <div class="modal-footer" style="height: 50px">
        <button type="button" class="btn btn-secondary" (click)="confirm1()">Inactive</button>
        <button type="button" class="btn btn-secondary" (click)="cancelModel()">Cancel</button>
      </div>

    </div>
  </div>
</ng-template>
