.btn-danger.disabled, .btn-danger:disabled {
  color: #fff;
  background-color: #f86c6b;
  border-color: #f86c6b;
}

.btn-primary.disabled, .btn-primary:disabled {
  color: #fff;
  background-color: #20a8d8;
  border-color: #20a8d8;
}

.form-group.col-md-12{
font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
font-size: 0.875rem;
font-weight: 400;
line-height: 1.5;
color: #23282c;
text-align: left;
margin-top: 0.8rem !important;
margin-bottom: 0.8rem !important;
}

.form-control {
  font-size: 00.875rem;
}
