table td{
  font-size: 0.6rem;
  text-align: center;
  vertical-align: middle;
}
.muti-table {
  padding: 0px;
}
.inner-table {
  width: 100%;
}
.inner-table td{
 width: 20% !important;

}
.loc-tot {
  background-color: #604979;
  color: white;
  font-weight: bold;
}
.loc-light {
  background-color: #e3dfed;
  font-weight: bold;
}
.iphone {
  background-color: #94ced8;
  font-weight: bold;
}
.iphone-light {
  background-color: #ddedf5;
  font-weight: bold;
}
.ipad {
  background-color: #f8be92;
  font-weight: bold;
}
.ipad-light {
  background-color: #fde9d9;
  font-weight: bold;
}
.accy {
  background-color: #d8e3bf;
  font-weight: bold;
}
.accy-light {
  background-color: #edf0e0;
  font-weight: bold;
}
.mac {
  background-color: #e5b9b7;
  font-weight: bold;
}
.mac-light {
  background-color: #efdcdb;
  font-weight: bold;
}
.def {
  background-color: #dfd8c5;
  font-weight: bold;
}
